
/* importacion de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@300;600&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');



:root {
    --icon-size-sm: 16px;
    --icon-size-md: 24px;
    --icon-size-lg: 32px;
    --color-primary: #041936;
    --font-color-primary: #ffffff;
    --font-color-secundary: #333;

    /* Amarillos (accent) */
    --color-accent-light: #F0B02D;
    --color-accent: #F0BE2B;
    --color-accent-dark: #AE7A15;
    --color-accent-500: #F6BF19;

    /* Grises */
    --color-gray-light: #ccc;
    --color-gray-light2: #ddd;

    /* Border */
    --border-color-primary: #FFFFFF;



    /* Colores individuales */
    --color-button-gradient-start: #AE7A15;
    --color-button-gradient-end: #F0B02D;

    /* Degradado completo */
    --gradient-button-primary: linear-gradient(
        to right,
        var(--color-button-gradient-start),
        var(--color-button-gradient-end)
    );

    /* Tipografía */
    --font-size-8: 0.5rem;
    --font-size-10: 0.625rem;
    --font-size-12: 0.75rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-18: 1.125rem;
    --font-size-20: 1.25rem;
    --font-size-24: 1.5rem; 
    --font-size-28: 1.75rem;
    --font-size-32: 2rem;
    --font-size-36: 2.25rem;
    --font-size-48: 3rem;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;

    --font-family-primary-montserrat: "Montserrat", sans-serif;
    --font-family-primary-poppins: "Poppins", sans-serif;
    --font-family-secundaria-roboto: "Roboto", sans-serif;
    --font-family-secundaria-opensans: "Open Sans", sans-serif;

    /* Sombras */
    --box-shadow-dark: 0 4px 12px rgba(255,255,255,0.1);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: var(--color-primary);
    color: var(--font-color-primary);
    width: 100%;
    box-sizing: border-box;
    font-family: var(--font-family-primary-montserrat);
}

header {
    background: var(--color-primary);
}

main {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}


