*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #1E3A8A;
    height: 100%;
    width: 100%;
}


.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;   /* centra horizontalmente */
    align-items: center;       /* centra verticalmente */
    background-color: black;
    width: 90%;
    height: 100%;
    gap: 10px;
}


.tarjeta {
    border: 1px solid white;
    border-radius: 15px;
    height: 300px;
    width: 200px;
    box-sizing: border-box;
    margin: 10px;
}

h3{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}

h2{
    color: white;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;              /* espacio interno */
    border: 2px dashed red;     /* borde visible */
    margin: 10px;               /* espacio externo dentro de la tarjeta */
    width: 90%;                 /* ocupa casi todo el ancho de la tarjeta */
    height: 90%;                /* ocupa casi todo el alto de la tarjeta */
    box-sizing: border-box;
}

.contenido img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;        /* separación con el texto */
}

a{
    text-decoration: none;
    color: blue;
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 20px;
    background-color: greenyellow;
    font-weight: bolder;
    display: inline-block;       /* importante para que funcione transform */
    transition: transform 0.3s ease; /* animación suave */
}

a:hover{
    background-color: red;
    color: white;
    transform: scale(1.1);       /* crece un 10% */
}