/* Custom banner principal home */

.h1-banner {
    color: var(--color-secondary);
    font-size: var(--font-size-28);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-big);
    font-family: var(--font-family-secundaria-roboto);
    padding-top: 1rem;
    text-align: center;
}

.h2-banner {
    color: var(--color-secondary);
    font-size: var(--font-size-20);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-small);
    font-family: var(--font-family-secundaria-roboto);
    font-weight: 200;
}