/* Custom buscar vuelos home */

.buscar-container__home {
    background: var(--color-secondary);
}

.buscar-block__buscar {
    color: var(--color-primary);
}

.boton-buscar__home {
    background: var(--gradient-button-primary);
}

.span__buscar {
    color: var(--color-secondary);
}

.input-select {
    border-color: var(--color-primary);
    color: var(--color-text-muted);
}

.input-select:invalid {
    color: var(--color-text-muted);
}

.input-select:valid {
    color: var(--color-primary);   
    border: 2px solid ;
}

.input-date__vuelos input:invalid {
  color: var(--color-text-muted);
  border: 1px solid gray;
}

.input-date__vuelos input:valid {
    color: var(--color-primary);   
    border: 2px solid;
}


.h1-hero {
    color: var(--color-accent);
    font-size: var(--font-size-28);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-big);
    font-family: var(--font-family-secundaria-roboto);
    padding-left: 9rem;
}

.h2-hero {
    color: var(--color-secundary);
    font-size: var(--font-size-16);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-small);
    font-family: var(--font-family-primary-poppins);
    font-weight: 200;
    padding-right: 9rem;
}

.span__buscar {
    font-weight: var(--font-weight-bold);
}