/* Custom ofertas home */

.h1-ofertas {
    color: var(--color-secondary);
    font-size: var(--font-size-28);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-big);
    font-family: var(--font-family-secundaria-roboto);
    padding-top: 1rem;
}

.h4-ofertas {
    color: var(--color-secondary);
    font-size: var(--font-size-18);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-big);
    font-family: var(--font-family-primary-montserrat);
    padding-top: 1rem;
}

.h2-ofertas {
    color: var(--color-accent);
    font-size: var(--font-size-28);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-big);
    font-family: var(--font-family-primary-montserrat);
}

.card-ofertas__home a{
    font-size: var(--font-size-16);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing-big);
    font-family: var(--font-family-primary-montserrat);
    font-weight: var(--font-weight-bold);
}