/* Layout buscar vuelos home */

.buscar-vuelos__home {
    height: 30vh;
}

.buscar-container__home {
    flex: 1;
    width: 85%;
    border-radius: 1.25rem;
    margin: 0 auto;
}

.buscar-block__buscar {
    flex: 1;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

.boton-buscar__home {
    height: 36px;
    width: 200px;
    gap: 1.25rem;
    border-radius: 20px;
}

.icons__buscar {
    width: 40px;
    height: auto;
}

.buscar-icon__buscar {
    width: 32px;
    height: auto;
}

.input-select {
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    height: 32px;
    width: 200px;
    border-radius: 1.25rem;
    padding: 0 1.5rem;
    background: url("../../../assets/images/index/flecha-ampliar.png") no-repeat right 0.75rem center;
    background-size: 1rem;
}

.input-date__vuelos input, .input-number {
    display: inline-block;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    height: 30px;
    width: 200px;
    border-radius: 1.25rem;
    padding: 0 1.5rem;
}

.pd-bt__pasajeros {
    padding-bottom: 1rem;
}