/* Layout ofertas home */

.ofertas__vuelos {
    height: 60vh;
}
.cards {
    flex: 1;
    width: 100%;
    padding: 0 4rem 0 4rem;
}
.card-ofertas__home {
    border: 2px solid white;
    border-radius: 1.25rem;
    width: 240px;
    height: 300px;
    padding-bottom: 1rem;
    overflow: hidden;
}

.card-ofertas__home img{
    max-width: 240px;
    height: auto;
    display: block;
    overflow: hidden;
}

.card-ofertas__home a{
    background: var(--color-secondary);
    color: var(--color-primary);
    width: 70%;
    height: 28px;
    border: 2px solid var(--color-primary);
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}