
.resenas-container {
    margin: 2rem 0;
    gap: 1rem;

}

.resenas-main {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.resenas-card {
    flex: 0 0 95%; /* mobile: 1 card */
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 0.5rem;
}

.info-resenas {
    gap: 1rem;
}

.avatar {
    background: rgb(244, 239, 239);
    border-radius: 30px;
}

@media (min-width: 768px)  {

    .resenas-card {
        flex: 0 0 45%; /* tablet: 2 card */
        padding: 2rem 0;
    }

    .resenas-card p {
        padding: 0 1rem;
        font-size: 12px;
        font-family: var(--font-family-secundaria-roboto);
    }
 
}

@media (min-width: 1024px)  {

    .resenas-card {
        flex: 0 0 31%; /* pc: 3 card */
        padding: 2rem 0;
    }
 
}