/* Responsive banner principal home */

@media (max-width: 400px)  {

    .banner__principal {
        height: 40vh;

    }

    .banner-container__home img {
        height: auto;
        width: 80%;
        object-fit: cover;  
        display: block;
        
    }

}