/* Responsive beneficios home */

@media (max-width: 1024px)  {

    .beneficios__home {
        margin-top: 5vh;
    }
}

@media (max-width: 480px)  {

    .beneficios__home {
        height: 100%;
    }

    .cards-beneficios__home {
        flex-direction: column;
    }

    .card-beneficios__home {
        height: 200px;
        width: 250px;
    }

}