/* Responsive buscar vuelos */



@media (max-width: 400px)  {

    .buscar-vuelos__home {
        height: 90vh;
    }

    .buscar-container__home {
        flex-direction: column;
        width: 100%;
    }

    .h1-hero {
        font-size: var(--font-size-20);
        padding-left: 0;
    }

    .h2-hero {
        font-size: var(--font-size-10);
        padding-right: 0;
    }

}