/* Responsive footer */

@media (max-width: 1024px) {
    
    footer {
        margin-top: 5vh;
    }
}

@media (max-width: 768px) {
    
    footer {
        flex: 1;
        height: 100%;
    }


    .img-redes {
        width: 40px;
        height: auto;
        display: block;
    }

    .img-icon-footer {
        width: 28px;
        height: 28px;
        display: block;
    }

    .form-escribenos__footer button {
        font-size: var(--font-size-12);
    }

    .footer-sub {
        margin-top: 1rem;
    }
}

@media (max-width: 480px)  {

    footer {
        height: 100%;
    }

    .footer-main {
        flex-direction: column;
    }


}