/* Header responsive */

.menu-icon {
    font-size: 28px;
    cursor: pointer;
    display: none;
}


#menu-toggle {
    display: none;
}

.login-header {
    display: inline-flex;
    border-radius: 20px;
    
    background: var(--gradient-button-primary);
}

.enlace-login__nav {
    display: none;
}

@media (max-width: 400px)  {

    .enlaces__nav, .boton-login__nav {
        display: none;
    }

    .menu-icon, .enlace-login__nav{
        display: block; 
    }

    .enlaces__nav{
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background: #222;
        padding: 20px;
    }


    #menu-toggle:checked ~ .enlaces__nav {
        display: flex;
    }

}