/* Header responsive */


@media (max-width: 480px)  {

    .enlaces__nav, .boton-login__nav {
        display: none;
    }

    .menu-icon, .enlace-login__nav{
        display: block; 
    }

    .enlaces__nav{
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background: #222;
        padding: 20px;
    }


    #menu-toggle:checked ~ .enlaces__nav {
        display: flex;
    }

}