/* Responsice ofertas home */

@media (max-width: 400px)  {

    .ofertas__vuelos {
        height: 180vh;
    }

    .cards {
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem 0 1rem 0;
    }

}