/* Responsive reseñas home */

@media (max-width: 1024px)  {

    .resenas__home {
        margin-top: 5vh;
    }

    .card-resenas__home {
        width: 180px;
    }

    .avatar-container__home {
        padding-top: 0.3rem;
    }

    .puntuacion-resenas img {
        width: 20px;
        height: auto;
    }

    .card-resenas__home h3 {
        font-size: var(--font-size-16);
    }

    .card-resenas__home p {
        font-size: var(--font-size-12);
    }

}

@media (max-width: 768px)  {

    .resenas__home {
        margin-top: 5vh;
    }

    .cards-resenas__home {
        width: 80%;
        padding: 0 0;
    }

}

@media (max-width: 480px)  {

    .resenas__home {
        height: 100%;
        
    }

    .cards-resenas__home {
        flex: 1;
        width: 100%;
        padding: 2rem 12rem;
        flex-direction: column;
    }

    .card-resenas__home {
        height: 250px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        color: var(--color-primary);
        background: var(--color-secondary);
        border-radius: 20px;
        padding-bottom: 1rem;
    }

    .card-resenas__home p {
        text-align: center;
    }

    .avatar-container__home {
        gap: 1rem;
    }

    .avatar-container__home img {
        background: gray;
        border-radius: 30px;
    }

    .puntuacion-resenas img {
        width: 24px;
        height: auto;
        padding-top: 0.5rem;
    }

}

